.navbar {
    top: 0px;
    left: 0px;
    height: 5%;
    width: 100%;
    background-color: #5d5e5e;
    position: fixed;
    z-index: 10000000;
}
.about {
    left: 0;
    top:5%;
    /*background-color: darksalmon;*/
    color: #fbfffd;
    width: 100%;
    position: absolute;
    height: 200%;
    overflow: hidden;
    background-attachment: fixed;

    background-image: url("img.png");

    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;   /*object-fit: cover;*/
}

.nameText {

    position: relative;
    left: 65%;
    top: 20%;


}

#abhititle {
    position: absolute;



}
#abhidesc {
    position: absolute;

    top: 50px;

}

#abhititle {
    position: absolute;

}


.imgAbhi {
    position: relative;
    left: 10%;
}




.stats {
    left: 0;
    top: 205%;
    background-color: #5d5e5e;
    color: darksalmon;
    width: 100%;
    position: absolute;
    height: 100%;
}

.projects {
    left: 0;
    top: 305%;
    background-color: black;
    color: darkolivegreen;
    width: 100%;
    position: absolute;
    height: 50%;
}

.contact {
    left: 0;
    top: 355%;
    background-color: #5d5e5e;
    color: darksalmon;
    width: 100%;
    position: absolute;
    height: 50%;
}

.imac {
    width: 50%;
    height: 52%;
    position: relative;
    left: 10%;
    top: 15%;

}
.imac:hover {

    transform: scale(1.5);
    transition: 2s ease-in-out;

}
.ipad {
    width: 30%;
    height: 60%;
    position: relative;
    top: 15%;

}
.ipad:hover {

    transform: scale(1.5);
    transition: 2s ease-in-out;

}
.iphone {
    width: 10%;
    height: 35%;
    position: relative;
    top: 0%;

}
.iphone:hover {

    transform: scale(1.5);
    transition: 2s ease-in-out;
    
}

.cloudimg {
    width: 50%;
    height: 50%;
    opacity: 0.4;
    position: relative;
    left: 0;
}
.cserv {
    position: absolute;
    top: 30%;
    left: 30%;
}
.imacpic {
    position: absolute;
    z-index: 99;
    top: 27.5%;
    left: 21.1%;
    width: 27.5%;
    height: 31%;
}

.ipadpic {
    position: absolute;
    z-index: 99;
    top: 24%;
    left: 58.75%;
    width: 13.15%;
    height: 38.5%;
}

.iphonepic {
    position: absolute;
    z-index: 99;
    top: 29.75%;
    left: 81.3%;
    width: 8.35%;
    height: 26%;
}

#quote {

}

/*#abhiImage {*/

/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    */
/*}*/